.card {
    padding: 15px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

.card p {
    margin: 4px 0;
    font-size: 16px;
}
